
 

 body {
    background: #39CCCC;
  }

  
  h1 {
    color:#39CCCC;
    margin: 0.1em;
    font-size: 2em;
    text-align: center;
  }
input{
    font-size: 1.5em;
    width: 40vw;
    outline: none;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
}
  .tasks {
  
    font-size: 1.5em;
    width: 40vw;
    background: rgb(41, 33, 33);
    border: 5px solid  #8239cc;
    color: #cca739;
    border-radius: 15px;
    margin: 10px;
    text-align: left;
   
  }

  .linkBtn, #addBtn{
    font-size: 1.5em;
    background: #cc5e39;
    border-radius: 15px;
    margin: 3px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: none;
    
  }

 button {
    font-size: .75em;
    background: #cc5e39;
    border-radius: 5px;
    margin: 5px 5px 0px 20px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    
  
    
  }

  /*
  .create-task input[type=text] {
    margin: 2.5em 2em;
    width: 80%;
    outline: none;
    border: none;
    padding: 0.7em;
  }

*/